<div class="mx-auto col-sm-10">
    <h1>Objavi Avto</h1>
    <form action="/cars" method="POST">
        <label for="numberOfCars">Stevilo Avtomobilov:</label><input class="form-control" type="text" name="numberOfCars" placeholder="Stevilo Avtomobilov" required> <br/>
        <label for="averageSpeed">Povprecna hitrost:</label><input class="form-control" type="text" name="averageSpeed" placeholder="povprecna hitrost" required> <br/>
        <label for="location">Lokacija:</label><input class="form-control" type="text" name="location" placeholder="Lokacija id" required> <br/>
        <label for="imageSource">Vir slike:</label><input class="form-control" type="text" name="imageSource" placeholder="Slika id" required> <br/>
        <div class="tp">
            <input class="btn btn-primary" type="submit" value="Dodaj">
        </div>
    </form>
</div>