<div class="row content mt-2">
    <div class="text-left mx-auto col-sm-8 mb-3">
        <a class="d-inline" href="/camera/add"><button class="btn btn-primary mb-2">Dodaj</button></a>
    </div>
    <div class="mx-auto col-sm-8 mb-3">
        <h2>Kamere:</h2>
        <hr>
    </div>
    {{#each cameras}}
    <div class="mx-auto col-sm-8 border border-light rounded mb-3 bg-dark text-light">
        <h3>Vir slike: {{src}}</h3>
    </div>
    {{/each}}
</div>