<div class="mx-auto col-sm-10">
    <h1>Objavi Sliko Znaka</h1>
    <form action="/trafficsignimages" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label><input class="form-control" type="text" name="name" placeholder="name" required> <br/>
        <label for="image">File:</label><input class="form-control" type="file" name="image" required> <br/>
        <div class="tp">
            <input class="btn btn-primary" type="submit" value="Dodaj">
        </div>
    </form>
</div>