<div class="mx-auto col-sm-10">
    <h1>Objavi Prometni Znak</h1>
    <form action="/trafficsign" method="POST">
        <label for="symbol">Symbol:</label><input class="form-control" type="text" name="symbol" placeholder="symbol" required> <br/>
        <label for="location">Location:</label><input class="form-control" type="text" name="location" placeholder="location id" required> <br/>
        <div class="tp">
            <input class="btn btn-primary" type="submit" value="Dodaj">
        </div>
    </form>
</div>