<div class="mx-auto col-sm-10">
    <h1>Objavi Tablico Avta</h1>
    <form action="/licenseplates" method="POST">
        <label for="symbols">Symbols:</label><input class="form-control" type="text" name="symbols" placeholder="symbols" required> <br/>
        <label for="imageSource">ImageSource:</label><input class="form-control" type="text" name="imageSource" placeholder="Image id" required> <br/>
        <div class="tp">
            <input class="btn btn-primary" type="submit" value="Dodaj">
        </div>
    </form>
</div>