<div class="mx-auto col-sm-10">
    <h1>Objavi GPS</h1>
    <form action="/gps" method="POST">
        <label for="latitude">Latitude:</label><input class="form-control" type="text" name="latitude" placeholder="latitude" required> <br/>
        <label for="longditude">Longditude:</label><input class="form-control" type="text" name="longditude" placeholder="longditude" required> <br/>
        <label for="altitude">Altitude:</label><input class="form-control" type="text" name="altitude" placeholder="altitude" required> <br/>
        <label for="speed">Speed:</label><input class="form-control" type="text" name="speed" placeholder="speed" required> <br/>
        <label for="accuracy">Accuracy:</label><input class="form-control" type="text" name="accuracy" placeholder="accuracy" required> <br/>
        <div class="tp">
            <input class="btn btn-primary" type="submit" value="Dodaj">
        </div>
    </form>
</div>